.dot {
  display: inline-block;
  width: 2px;
  height: 3px;
  margin-bottom: 1px;
  background-color: darkgreen;
  font-size: 0px;
}

.char {
  display: inline-block;
  width: 14px;
  font-size: 0px;
  margin: 1px;
}

.display {
  line-height: 0;
  width: 1280px;
  background-color: black;
}

.dot.light {
  background-color: lightgreen;
}

body {
  background-color: black;
  color: gray;
}
